.burger_constructor {
	display: flex;
	flex-direction: column;
	width: 600px;
	color: var(--text-primary-light-color);
}

.ingredients_list {
	display: flex;
	flex-direction: column;
	gap: calc(var(--offset-base-size) * 4);
	max-height: 370px;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.ingredient {
	display: flex;
	align-items: center;
	gap: calc(var(--offset-base-size) * 2);
}

.total {
	display: flex;
	justify-content: flex-end;
	gap: calc(var(--offset-base-size) * 10);
}

.price {
	display: flex;
	align-items: center;
	gap: calc(var(--offset-base-size) * 2);
}
