.ingredient {
	position: relative;
	background-color: var(--background-alt);
	border-radius: calc(var(--offset-base-size) * 6);
	cursor: pointer;
	transition: 0.2s;
}

.dragging {
	opacity: 0.5;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--offset-base-size) * 2);
	text-decoration: none;
}

.image {
	display: block;
}

.price {
	display: flex;
	gap: calc(var(--offset-base-size) * 2);
	font-size: 20px;
	line-height: 1.2;
}

.title {
	min-height: calc(2 * 1.5em);
	text-align: center;
}
