.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: calc(var(--offset-base-size) * 4);
	max-width: 1920px;
	margin: 20px;
	padding: 15px;
	background-color: rgb(220 38 38 / 30%); /* tailwind's red-600 примерно */
	border-radius: 15px;
}

.text {
	width: 100%;
	text-align: center;
}

.button {
	cursor: pointer;
}
