.ingredients_group {
	display: flex;
	flex-direction: column;
	gap: calc(var(--offset-base-size) * 6);
}

.ingredients_list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: calc(var(--offset-base-size) * 8) calc(var(--offset-base-size) * 6);
	margin: 0;
	padding: calc(var(--offset-base-size) * 6) calc(var(--offset-base-size) * 2)
		calc(var(--offset-base-size) * 10) calc(var(--offset-base-size) * 4);
	list-style-type: none;
}

.title {
	margin: 0;
	font-size: 24px;
	line-height: 1.25;
}
