.icon_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	background-image: url('@images/done-background.svg');
	background-repeat: no-repeat;
	background-position: center;
	aspect-ratio: 1/1;
}

.icon {
	width: 48px;
	height: 48px;
}

.title {
	text-shadow: 0 4px 32px #3333ff80;
}
