:root {
	--text-primary-light-color: #f2f2f3;
}

body {
	margin: 0;
	color: var(--text-primary-light-color);
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
	.custom-scroll {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}

	body {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}
}

.loading {
	animation: loading 1s steps(4, jump-none) infinite;
	clip-path: inset(0 3ch 0 0);
}

@keyframes loading {
	to {
		clip-path: inset(0);
	}
}

@keyframes twinkle {
	0%,
	100% {
		opacity: 0.4;
	}

	50% {
		opacity: 1;
	}
}
